extends ../layouts/layout_view

block content
    .container
        .row
            .col-md-8.offset-md-2
                form(method='POST', action='/login')
                    .form-group
                        label(for='user-id') User ID
                        input.form-control#user-id(type='text', placeholder='User ID', name='userId')
                    .form-group
                        label(for='password') Password
                        input.form-control#password(type='password', placeholder='Password', name='password')
                    .form-group
                        label(for='role') Role
                        select.form-control#role(name='role')
                            option Student
                            option Examiner
                            option Administer
                    .form-check
                        input.form-check-input#remember-me(type='checkbox')
                        label.form-check-label(for='remember-me') Remember Me
                    div
                        button.btn.btn-primary.mt-2(type='submit') Log In
